@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.toDos{
  display: flex;

  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 40vw; */
}
input, input:focus, input:focus-visible{
  border: none;
  border-bottom: 1px solid black;
  height: 50px;
  width: 300px;
  text-indent: 15px;
  margin: 10px;
  outline: none;
  font-size: 16px;
}
.todoList{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  width: 60vw;
  overflow-y: scroll;
  position: relative;
  left: 25%;
  
  

}
.todo-add{
  position: absolute;
  align-items: center;
  /* margin: 10px; */
  top: 40%;
  left: 10%;
  padding: 20px;
}

.todo-item{
  overflow-y: scroll;
  
  padding: 20px;
  width: 200px;
 
  
  height: 200px;
  margin: 10px;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between; */
  
  

  box-shadow: 0px 0px 5px grey;
  background-color: rgb(255, 255, 141);
  

}
.todo-text{
  top: 35px;
  position: relative;
  padding-left: 10%;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.deleteButton{
  position: absolute;
  height: 20px;
  width: 20px;
  
  /* top: 0; */
  background-color: rgb(255, 255, 141);
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
  /* margin: 3px; */
}
.add-button{
  font-weight: 800;
  position: relative;
  width: 60px;
  height: 60px;
  top: 0;
  background-color: white;
  color: black;
  border: none;
  font-size: 25px;
  cursor: pointer;
  /* margin: 10px; */
}
.add-button:hover{
  font-size: 30px;
  transition: all .5s ease;
}